<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barqsoft.footballscores" >

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ScoresProvider"
            android:authorities="barqsoft.footballscores" />

        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="barqsoft.footballscores.MainActivity" />
        </activity>
        <service android:name=".service.myFetchService" />


        <!-- Today Widget -->
      <!-- <receiver
            android:name=".widget.WidgetIntentProvider"
            android:label="@string/title_widget_today" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />


            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_today" />
        </receiver>



                <service
                    android:name=".widget.WidgetRemoteViewsService"
                    android:exported="false"

                    android:permission="android.permission.BIND_REMOTEVIEWS" />-->
<!--
        <receiver
            android:name=".widget.WProvider"
            android:label="@string/title_widget_today" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <action android:name="barqsoft.footballscores.TOAST_ACTION" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_today" />
        </receiver>
       <service android:name=".widget.TodayWidgetIntentService" />


        <service
            android:name=".widget.WRemoteViewService"

            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />&ndash;&gt;-->



        <!-- Widget Receiver -->

        <!--<uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="18" />
        <receiver android:name=".widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="barqsoft.footballscores.ACTION_TOAST"/>
                <action android:name="barqsoft.footballscores.EXTRA_MATCHID"/>
                <action android:name="barqsoft.footballscores.EXTRA_FRAGMENT"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_today" />
        </receiver>
        <service
            android:name=".widget.WidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />-->
        <receiver
            android:name=".widget.WidgetIntentProvider"
            android:label="@string/title_widget_today" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="barqsoft.footballscores.ACTION_DATA_UPDATED" />
                <action android:name="barqsoft.footballscores.ACTION_TOAST"/>
                <action android:name="barqsoft.footballscores.EXTRA_MATCHID"/>
                <action android:name="barqsoft.footballscores.EXTRA_FRAGMENT"/>
                <action android:name="barqsoft.footballscores.USER_PRESENT"/>



            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_today" />
        </receiver>
        <service android:name=".widget.TodayWidgetIntentService" />


        <service
            android:name=".widget.WidgetRemoteViewsService"

            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
